*{
    margin: 0;
    padding: 0;
}

.outer{
    width: 70%;
    height: 300px;
    background-color: #ff0000;
    /* margin: 170px auto; */
    display: flex;
}
.left{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: solid;
}
.head1{
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
.number{
    display: flex;
    justify-content: space-around;
    color: white;
    h1{
        text-align: center;
        flex: 1;
        font-size: 200px;
    }
    div{
        color: black;
        flex: 1;
        font-size: 30px;
        position: relative;
        top: 90px;
        right: 70px;
    }
}

.right{
    flex: 3;
}