*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
header{
    height: 100px;
    border: solid 1.5px;
    width: 90%;
    margin: 10px 5% 0 5%;
    background-color: yellow;
}
nav{
    height: 100px;
    border: solid 1.5px;
    width: 90%;
    margin: 10px 5% 10px 5%;
    background-color: yellow;
}
.div1{
    height: 220px;
    border: solid 1.5px;
    width: 90%;
    margin: 0px 5%;
    background-color: yellow;
    display: inline-block;
}
.div2{
    height: 210px;
    border: solid 1.5px;
    margin: 5px 2px 5px 5px;
    width: 60%;
    background-color: green;
    display: inline-block;
}
section{
    height: 100px;
    border: solid 1.5px;
    width: 99%;
    background-color: yellow;
    margin:3px auto;
}
article{
    height: 100px;
    border: solid 1.5px;
    width: 99%;
    background-color: yellow;
    margin:3px auto;
}
aside{
    height: 210px;
    border: solid 1.5px;
    margin: 5px 5px 5px 3px;
    width: 38%;
    background-color: rgb(74, 175, 74);
    display: inline-block;
}
footer{
    height: 100px;
    border: solid 1.5px;
    width: 90%;
    margin: 10px 5%;
    background-color: yellow;
    display: inline-block;
}