*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
}
.borderwhite{
    margin: 20px;
    border: solid white 5px;
}
header{
    height: 100px;
    background-color: rgb(231, 165, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: white;
    }
}
nav{
    height: 40px;
    background-color: #bdbdbd;
    display: flex;
    justify-content: space-around;
    padding: 4px;
    button{
        flex: 1;
        margin:0 2px ;
        background-color: #fff;
        color: rgb(231, 165, 13);
    }
}
main{
    height: 600px;
    background-color: #696969;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-bottom:solid black 10px;
    .box1{
        flex:1;
        border:solid rgb(234, 228, 228);
        background-color: #fff;
        margin: 10px;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: 10px;
        img{
            height: 331px;
            width: 437px;
        }
        p,button{
            margin: 10px;
            flex:1;
        }
        button{
            padding: 10px;
            flex: 0.1;
        }
    }
    .box2{
        flex: 1;
        border:solid rgb(234, 228, 228);
        background-color: #fff;
        margin: 10px;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: 10px;
        img{
            height: 331px;
            width: 437px;
        }
        p,button{
            margin: 10px;
            flex:1;
        }
        button{
            padding: 10px;
            flex: 0.1;
        }
    }
    .box3{
        flex: 1;
        border:solid rgb(234, 228, 228);
        background-color: #fff;
        margin: 10px;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: 10px;
        img{
            height: 331px;
            width: 437px;
        }
        p,button{
            margin: 10px;
            flex:1;
        }
        button{
            padding: 10px;
            flex: 0.1;
        }
    }
}
footer{
    height: 80px;
    background-color: rgb(231, 165, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}